<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Bài tập - DFS Algorithm</title>
    <link rel="stylesheet" href="{% static 'myapp/css/styles_index.css' %}">
</head>
<body>
    <header class="header">
        <div class="header-content">
            <h1 class="header-title">BÀI TẬP</h1>
            <p class="header-description">Exercises on DFS Algorithm: Enhance Your Graph Traversal Skills</p>
        </div>
    </header>
    <main class="main-content">
        <section class="page-links">
            <a href="https://oj.vnoi.info/problem/weather" class="page-link"target="_blank">
                <img src="{% static 'myapp/images/theory/theory_bonus/baitap11.jpg' %}" alt="baitap">
                <h2>Bài tập 1</h2>
                <p>WEATHER - Điều kiện thời tiết</p>
            </a>
            <a href="https://oj.vnoi.info/problem/critical" class="page-link"target="_blank">
                <img src="{% static 'myapp/images/theory/theory_bonus/baitap12.jpg' %}" alt="baitap">
                <h2>Bài tập 2</h2>
                <p>CRITICAL - Thành phố trọng yếu</p>
            </a>
            <a href="https://www.spoj.com/PTIT/problems/BCACM11E/" class="page-link"target="_blank">
                <img src="{% static 'myapp/images/theory/theory_bonus/baitap13.jpg' %}" alt="baitap">
                <h2>Bài tập 3</h2>
                <p>BCACM11E - Phương án bắn pháo</p>
            </a>
            <a href="https://oj.vnoi.info/problem/safenet2" class="page-link"target="_blank">
                <img src="{% static 'myapp/images/theory/theory_bonus/baitap14.jpg' %}" alt="baitap">
                <h2>Bài tập 4</h2>
                <p>SAFENET2 - Mạng máy tính an toàn</p>
            </a>
            <a href="https://oj.vnoi.info/problem/reform" class="page-link"target="_blank">
                <img src="{% static 'myapp/images/theory/theory_bonus/baitap15.jpg' %}" alt="baitap">
                <h2>Bài tập 5</h2>
                <p>REFORM - VOI 2015 Day 1 - Kế hoạch cải tổ</p>
            </a>
            <a href="https://oj.vnoi.info/problem/treat" class="page-link"target="_blank">
                <img src="{% static 'myapp/images/theory/theory_bonus/baitap16.jpg' %}" alt="baitap">
                <h2>Bài tập 6</h2>
                <p>TREAT - Cho kẹo hay bị phá nào</p>
            </a>
            <a href="https://oj.vnoi.info/problem/message" class="page-link"target="_blank">
                <img src="{% static 'myapp/images/theory/theory_bonus/baitap17.jpg' %}" alt="baitsp">
                <h2>Bài tập 7</h2>
                <p>MESSAGE - Truyền tin</p>
            </a>
            <a href="https://codeforces.com/contest/894/problem/E" class="page-link"target="_blank">
                <img src="{% static 'myapp/images/theory/theory_bonus/baitap18.jpg' %}" alt="baitap">
                <h2>Bài tập 8</h2>
                <p>Ralph and Mushrooms</p>
            </a>
        </section>
    </main>
    <footer class="footer">
        <p>© 2023 DFS Algorithm Web - Đoàn Huỳnh Thanh Tú - 46.01.103.076 - HCMUE</p>
    </footer>
</body>
</html>
