<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Bài tập - BFS Algorithm</title>
    <link rel="stylesheet" href="{% static 'myapp/css/styles_index.css' %}">
</head>
<body>
    <header class="header">
        <div class="header-content">
            <h1 class="header-title">BÀI TẬP</h1>
            <p class="header-description">Exercises on BFS Algorithm: Enhance Your Graph Traversal Skills</p>
        </div>
    </header>
    <main class="main-content">
        <section class="page-links">
            <a href="https://www.spoj.com/PTIT/problems/BCDAISY/" class="page-link"target="_blank">
                <img src="{% static 'myapp/images/theory/theory_bonus/baitap1.jpg' %}" alt="baitap">
                <h2>Bài tập 1</h2>
                <p>BCDAISY - Chú bò hư hỏng</p>
            </a>
            <a href="https://www.spoj.com/PTIT/problems/BCLKCOUN/" class="page-link"target="_blank">
                <img src="{% static 'myapp/images/theory/theory_bonus/baitap2.jpg' %}" alt="baitap">
                <h2>Bài tập 2</h2>
                <p>BCLKCOUN - Đếm số ao</p>
            </a>
            <a href="https://www.spoj.com/PTIT/problems/BCISLAND/" class="page-link"target="_blank">
                <img src="{% static 'myapp/images/theory/theory_bonus/baitap3.jpg' %}" alt="baitap">
                <h2>Bài tập 3</h2>
                <p>BCISLAND - Nước biển</p>
            </a>
            <a href="https://www.spoj.com/THPTCBT/problems/MTNTRAI/" class="page-link"target="_blank">
                <img src="{% static 'myapp/images/theory/theory_bonus/baitap4.jpg' %}" alt="baitap">
                <h2>Bài tập 4</h2>
                <p>MTNTRAI - Nông Trại</p>
            </a>
            <a href="https://oj.vnoi.info/problem/nkguard" class="page-link"target="_blank">
                <img src="{% static 'myapp/images/theory/theory_bonus/baitap5.jpg' %}" alt="baitap">
                <h2>Bài tập 5</h2>
                <p>Bảo vệ nông trang</p>
            </a>
            <a href="https://oj.vnoi.info/problem/damage" class="page-link"target="_blank">
                <img src="{% static 'myapp/images/theory/theory_bonus/baitap6.jpg' %}" alt="baitap">
                <h2>Bài tập 6</h2>
                <p>Động đất</p>
            </a>
            <a href="https://www.spoj.com/problems/KOZE/" class="page-link"target="_blank">
                <img src="{% static 'myapp/images/theory/theory_bonus/baitap7.jpg' %}" alt="baitsp">
                <h2>Bài tập 7</h2>
                <p>KOZE - Sheep</p>
            </a>
            <a href="https://cses.fi/problemset/task/1192" class="page-link"target="_blank">
                <img src="{% static 'myapp/images/theory/theory_bonus/baitap8.jpg' %}" alt="baitap">
                <h2>Bài tập 8</h2>
                <p>Counting Rooms</p>
            </a>
        </section>
    </main>
    <footer class="footer">
        <p>© 2023 BFS Algorithm Web - Đoàn Huỳnh Thanh Tú - 46.01.103.076 - HCMUE</p>
    </footer>
</body>
</html>
