<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Mô phỏng - BFS & DSF Algorithm</title>
    <link rel="stylesheet" href="{% static 'myapp/css/styles_index.css' %}">
</head>

<body>
    <header class="header">
        <div class="header-content">
            <h1 class="header-title">Welcome to BFS & DFS Algorithm</h1>
            <p class="header-description">Simulation the BFS & DFS Algorithm</p>
        </div>
    </header>
    <main class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md=12"
                    style="justify-content: center; align-items: center; text-align: center;">
                    <iframe id="iframegame"
                        style="width: 1900px; height:890px; overflow: hidden;border-radius: 10px;padding: 1px;background: white; "
                        src="/media/simulation-final/visualgo.net/en/dfsbfs.html" scrolling="no"> 
                    </iframe>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <p>© 2023 BFS & DFS Algorithm Web - Đoàn Huỳnh Thanh Tú - 46.01.103.076 - HCMUE</p>
    </footer>
</body>

</html>