<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Tài liệu - BFS Algorithm</title>
    <link rel="stylesheet" href="{% static 'myapp/css/styles_index.css' %}">
</head>
<body>
    <header class="header">
        <div class="header-content">
            <h1 class="header-title">TÀI LIỆU</h1>
            <p class="header-description">Exploring Graphs in Depth: Theory and Applications of BFS</p>
        </div>
    </header>
    <main class="main-content">
        <section class="page-links">
            <a href="https://vnoi.info/wiki/algo/graph-theory/breadth-first-search.md" class="page-link"target="_blank">
                <img src="{% static 'myapp/images/theory/theory_bonus/bonus1.jpg' %}" alt="Lý thuyết">
                <h2>Tài liệu 1</h2>
                <p></p>
            </a>
            <a href="https://vi.wikipedia.org/wiki/T%C3%ACm_ki%E1%BA%BFm_theo_chi%E1%BB%81u_r%E1%BB%99ng" class="page-link"target="_blank">
                <img src="{% static 'myapp/images/theory/theory_bonus/bonus3.jpg' %}" alt="Lý thuyết">
                <h2>Tài liệu 2</h2>
                <p></p>
            </a>
            <a href="https://viblo.asia/p/cac-giai-thuat-tim-kiem-tren-do-thi-1Je5EBRGKnL" class="page-link"target="_blank">
                <img src="{% static 'myapp/images/theory/theory_bonus/bonus41.jpg' %}" alt="Lý thuyết">
                <h2>Tài liệu 3</h2>
                <p></p>
            </a>
            <a href="https://howkteam.vn/course/cau-truc-du-lieu-va-giai-thuat/bfs-va-dfs-4320" class="page-link"target="_blank">
                <img src="{% static 'myapp/images/theory/theory_bonus/bonus42.jpg' %}" alt="Lý thuyết">
                <h2>Tài liệu 4</h2>
                <p></p>
            </a>
            <a href="https://meeyland.com/tin-tuc/thuat-toan-bfs-la-gi-dinh-nghia-quy-tac-va-vi-du-378177140" class="page-link"target="_blank">
                <img src="{% static 'myapp/images/theory/theory_bonus/bonus43.jpg' %}" alt="Lý thuyết">
                <h2>Tài liệu 5</h2>
                <p></p>
            </a>
            <a href="https://tuicocach.com/giai-thuat-tim-kiem-theo-chieu-rong-bfs-breadth-first-search/" class="page-link"target="_blank">
                <img src="{% static 'myapp/images/theory/theory_bonus/bonus44.jpg' %}" alt="Lý thuyết">
                <h2>Tài liệu 6</h2>
                <p></p>
            </a>
        </section>
    </main>
    <footer class="footer">
        <p>© 2023 BFS Algorithm Web - Đoàn Huỳnh Thanh Tú - 46.01.103.076 - HCMUE</p>
    </footer>
</body>
</html>
