<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Tài liệu - DFS Algorithm</title>
    <link rel="stylesheet" href="{% static 'myapp/css/styles_index.css' %}">
</head>
<body>
    <header class="header">
        <div class="header-content">
            <h1 class="header-title">TÀI LIỆU</h1>
            <p class="header-description">Exploring Graphs in Depth: Theory and Applications of DFS</p>
        </div>
    </header>
    <main class="main-content">
        <section class="page-links">
            <a href="https://viblo.asia/p/data-structure-algorithm-graph-algorithms-depth-first-search-dfs-qPoL7zyXJvk" class="page-link"target="_blank">
                <img src="{% static 'myapp/images/theory/theory_bonus/bonus141.jpg' %}" alt="Lý thuyết">
                <h2>Tài liệu 1</h2>
                <p></p>
            </a>
            <a href="https://dothanhspyb.com/thuat-toan-dfs-depth-first-search/" class="page-link"target="_blank">
                <img src="{% static 'myapp/images/theory/theory_bonus/bonus142.jpg' %}" alt="Lý thuyết">
                <h2>Tài liệu 2</h2>
                <p></p>
            </a>
            <a href="https://tuicocach.com/giai-thuat-duyet-chieu-sau-dfs-depth-first-search/" class="page-link"target="_blank">
                <img src="{% static 'myapp/images/theory/theory_bonus/bonuss141.jpg' %}" alt="Lý thuyết">
                <h2>Tài liệu 3</h2>
                <p></p>
            </a>
            <a href="https://vi.wikipedia.org/wiki/T%C3%ACm_ki%E1%BA%BFm_theo_chi%E1%BB%81u_s%C3%A2u" class="page-link"target="_blank">
                <img src="{% static 'myapp/images/theory/theory_bonus/bonus144.jpg' %}" alt="Lý thuyết">
                <h2>Tài liệu 4</h2>
                <p></p>
            </a>
            <a href="https://chidokun.github.io/2021/06/graph-dfs-algorithm/" class="page-link"target="_blank">
                <img src="{% static 'myapp/images/theory/theory_bonus/bonus145.jpg' %}" alt="Lý thuyết">
                <h2>Tài liệu 5</h2>
                <p></p>
            </a>
            <a href="https://viettuans.vn/dfs-la-gi" class="page-link"target="_blank">
                <img src="{% static 'myapp/images/theory/theory_bonus/bonus146.jpg' %}" alt="Lý thuyết">
                <h2>Tài liệu 6</h2>
                <p></p>
            </a>
        </section>
    </main>
    <footer class="footer">
        <p>© 2023 DFS Algorithm Web - Đoàn Huỳnh Thanh Tú - 46.01.103.076 - HCMUE</p>
    </footer>
</body>
</html>
