<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>VIDEO - DFS Algorithm</title>
    <link rel="stylesheet" href="{% static 'myapp/css/styles_index.css' %}">
</head>
<body>
    <header class="header">
        <div class="header-content">
            <h1 class="header-title">VIDEO</h1>
            <p class="header-description">DFS Algorithm: A Visual Overview</p>
        </div>
    </header>
    <main class="main-content">
        <section class="page-links">
            <a href="https://www.youtube.com/watch?v=JAlNXyfe-p4" class="page-link"target="_blank">
                <img src="{% static 'myapp/images/theory/theory_bonus/video141.jpg' %}" alt="Video">
                <h2>Video 1</h2>
                <p></p>
            </a>
            <a href="https://www.youtube.com/watch?v=S4YqfAhxMKI" class="page-link"target="_blank">
                <img src="{% static 'myapp/images/theory/theory_bonus/video142.jpg' %}" alt="Video">
                <h2>Video 2</h2>
                <p></p>
            </a>
            <a href="https://www.youtube.com/watch?v=kd6cxa-yLs8" class="page-link"target="_blank">
                <img src="{% static 'myapp/images/theory/theory_bonus/video143.jpg' %}" alt="Video">
                <h2>Video 3</h2>
                <p></p>
            </a>
            <a href="https://www.youtube.com/watch?v=iaBEKo5sM7w" class="page-link"target="_blank">
                <img src="{% static 'myapp/images/theory/theory_bonus/video144.jpg' %}" alt="Video">
                <h2>Video 4</h2>
                <p></p>
            </a>
            <a href="https://www.youtube.com/watch?v=y2XjmRoqi9A" class="page-link"target="_blank">
                <img src="{% static 'myapp/images/theory/theory_bonus/video145.jpg' %}" alt="Video">
                <h2>Video 5</h2>
                <p></p>
            </a>
            <a href="https://www.youtube.com/watch?v=7g3aujo65H4" class="page-link"target="_blank">
                <img src="{% static 'myapp/images/theory/theory_bonus/video146.jpg' %}" alt="Video">
                <h2>Video 6</h2>
                <p></p>
            </a>
        </section>
    </main>
    <footer class="footer">
        <p>© 2023 DFS Algorithm Web - Đoàn Huỳnh Thanh Tú - 46.01.103.076 - HCMUE</p>
    </footer>
</body>
</html>
