<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>VIDEO - BFS Algorithm</title>
    <link rel="stylesheet" href="{% static 'myapp/css/styles_index.css' %}">
</head>
<body>
    <header class="header">
        <div class="header-content">
            <h1 class="header-title">VIDEO</h1>
            <p class="header-description">BFS Algorithm: A Visual Overview</p>
        </div>
    </header>
    <main class="main-content">
        <section class="page-links">
            <a href="https://www.youtube.com/watch?v=czrPh61iFW4" class="page-link"target="_blank">
                <img src="{% static 'myapp/images/theory/theory_bonus/video1.jpg' %}" alt="Video">
                <h2>Video 1</h2>
                <p></p>
            </a>
            <a href="https://www.youtube.com/watch?v=bhB-GIP3tZM" class="page-link"target="_blank">
                <img src="{% static 'myapp/images/theory/theory_bonus/video2.jpg' %}" alt="Video">
                <h2>Video 2</h2>
                <p></p>
            </a>
            <a href="https://www.youtube.com/watch?v=xlVX7dXLS64" class="page-link"target="_blank">
                <img src="{% static 'myapp/images/theory/theory_bonus/video3.jpg' %}" alt="Video">
                <h2>Video 3</h2>
                <p></p>
            </a>
            <a href="https://www.youtube.com/watch?v=KiCBXu4P-2Y" class="page-link"target="_blank">
                <img src="{% static 'myapp/images/theory/theory_bonus/video4.jpg' %}" alt="Video">
                <h2>Video 4</h2>
                <p></p>
            </a>
            <a href="https://www.youtube.com/watch?v=K1cLqpjrOxM" class="page-link"target="_blank">
                <img src="{% static 'myapp/images/theory/theory_bonus/video5.jpg' %}" alt="Video">
                <h2>Video 5</h2>
                <p></p>
            </a>
            <a href="https://www.youtube.com/watch?v=tsTCeu3QhFc" class="page-link"target="_blank">
                <img src="{% static 'myapp/images/theory/theory_bonus/video6.jpg' %}" alt="Video">
                <h2>Video 6</h2>
                <p></p>
            </a>
        </section>
    </main>
    <footer class="footer">
        <p>© 2023 BFS Algorithm Web - Đoàn Huỳnh Thanh Tú - 46.01.103.076 - HCMUE</p>
    </footer>
</body>
</html>
